/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Changing the main font and background colour */

.img-fluid{
	max-width: 100%;
	height: auto;
	
}


.circlediagram{
 display: flex;
  align-items: center;
  justify-content: center;
}

.videosetting{
	margin-left: 80px;

}

.pictureproduct{
    width: 30%;
	max-width: 100%;
	height: auto;
    object-fit: contain;
    user-select: none;
	text-align: left;
	
	margin-left: 40px;
	margin-bottom: 20px;
}

.productinformation{
	margin-left: 350px;
	margin-top: 40px;
	
}


.alignedproduct {
            display: flex;
            align-items: flex-start;
}





.producttext{ 
	padding: 20px 20px 80px 40px;

}









.explanationcircle{
	margin-top: 20px;
	padding: 20px
}

.explantiontekst{
	padding-left: 20px;
}


.aligncenternormal{
	text-align: center;
}


.aligncenter{
	text-align: center;
	color: #5F7336;
}
.alignleft{
	text-align: left;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.centerpostive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}



.headershop {font-family: 'Poppins', sans-serif;}
.webshopitem {color: #FFFFFF;}


.mb-3{
	font-family:'Poppins', sans-serif;
}

.form-label{ 
	font-family:'Poppins', sans-serif;
	font-size: 18px;
}
.fonts {font-family: 'Poppins', sans-serif;
}


.form-control { font-family:'Poppins', sans-serif;}
.form-select{font-family: 'Poppins', sans-serif;}
.input-group-text {font-family:'Poppins', sans-serif; }
.form-check-label {font-family:'Poppins', sans-serif;}
.text-muted {font-family:'Poppins', sans-serif;}
.button {font-family:'Poppins', sans-serif;}

.dotgreen {
  height: 25px;
  width: 25px;
  background-color: #9FB870;
  border-radius: 50%;
  display: inline-block;
}
.textnormal {
	font-family:'Poppins', sans-serif;
}
.textcenter {
	text-align: center;
	font-family:'Poppins', sans-serif;
}
.catolinks { 
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-size: 17px; 
	
}
.mt-4 {
	text-align: center;
	object-position: center;
}

.dotblack {
  height: 25px;
  width: 25px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}

.dotgrey {
  height: 25px;
  width: 25px;
  background-color: #9A9A9A;
  border-radius: 50%;
  display: inline-block;
}

.dotyellow {
  height: 25px;
  width: 25px;
  background-color: #E8C82C;
  border-radius: 50%;
  display: inline-block;
}

.dotblue {
  height: 25px;
  width: 25px;
  background-color: #B6CCE1;
  border-radius: 50%;
  display: inline-block;
}

.dotorange {
  height: 25px;
  width: 25px;
  background-color: #CA6134;
  border-radius: 50%;
  display: inline-block;
}

.dotpink {
  height: 25px;
  width: 25px;
  background-color: #F4B7C9;
  border-radius: 50%;
  display: inline-block;
}

.dotdarkgreen {
  height: 25px;
  width: 25px;
  background-color: #5F7336;
  border-radius: 50%;
  display: inline-block;
}







.dotblue:hover {
    border: #333 solid 3px;
}

.dotblack:hover {
    border: #9A9A9A solid 3px;
}

.dotgrey:hover {
    border: #333 solid 3px;
}

.dotyellow:hover {
    border: #333 solid 3px;
}

.dotgreen:hover {
    border: #333 solid 3px;
}

.dotorange:hover {
    border: #333 solid 3px;
}

.dotpink:hover {
    border: #333 solid 3px;
}

.dotdarkgreen:hover {
    border: #333 solid 3px;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
}

.mycolor{
	color: #6A853E}

/* Changing the background colour for the header */

header {
	background-color: #9FB870;
}

/* Changing the background color for the navigation bar */

.navbar {background-color: #E6E6CA}

.material-icons{
  position: absolute;
  right:15px;
}

.material-icons:hover{
    color:#6A853E;
}

.middlebox {color: #B5AF8D;}

.bolder {font-weight: 300;}



input[type=text]{ 
	width: 450px;
	height: 40px;
	border: 1px solid #5F7336;
	  border-radius: 4px;
	
}

input[type=submit]{
	width: 90px;
	height: 40px;
	border: 1px solid #5F7336;
	  border-radius: 4px;
}

input:focus {
	outline: auto;
  	border: 1px solid #9FB870;
}

.text-primary{
	color: #5F7336;
}


.Cart-Containercart{
 width: 100%;
 height: 100%;
 background-color: #ffffff;
 border-radius: 20px;
 box-shadow: 0px 3px 10px #B5AF8D;
}

.Headercart{
 margin: auto;
 width: 90%;
 height: 15%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.Headingcart{
	margin-top: 20px; 
 font-size: 18px;
 font-weight: 700;
 color: #2F3841;
}
.Actioncart{
margin-top: 20px;
 font-size: 14px;
 font-weight: 600;
 color: #5F7336;
 cursor: pointer;
 border-bottom: 1px solid #5F7336;
} 


.productdescription{
	margin-left: 100px;
	
}

.logoplacement{
	margin-top: 70px;
	margin-left: 95px;
	
}

 .logo-image{
    width: 46px;
    height: 46px;
    overflow: hidden;
    margin-top: -6px;
}



/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#grey+ label span {
  background-color: #9A9A9A;
}
.color-choose input[type="radio"]#green+ label span {
  background-color: #9FB870;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]#white
+ label span {
  background-color: #FFFFFF
}











































.color-choose input[type="radio"]:checked + label span {
  background-image: url("../images/Product/check-icn.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.color-choosewhite input[type="radio"]:checked + label span {
  background-image: url("../images/Product/check-icn.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.iconsproduct{
	position: absolute;
	top: 600px;
	right: 30px;
	
}

.button {
  display: flex;
  height: 65px;
	width: 230px;
  padding: 0;
  background: #6A853E;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: #5F7336;
}

.button:active {
  background: #006e58;
}


.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
	width: auto;
}

.nav-item{
	font-family:'Poppins', sans-serif;
	font-weight: bold;
}

.pricecart{ color:#6A853E }

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}







