/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
    font-family: andada;
    background-color: #E6E6CA;
    font-style: normal;
    font-weight: 400;
}



/* Changing the background colour for the header */

header {
	background-color: #6A853E;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FFFDF3;
}

.nav-link li:hover > a {color: #5F7336}
/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
