/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
    font-family: andada;
    background-color: #E6E6CA;
    font-style: normal;
    font-weight: 400;
}

.mycolor{
	color: #6A853E}

/* Changing the background colour for the header */

header {
	background-color: #B5AF8D;
}

/* Changing the background color for the navigation bar */

.navbar {background-color: #E6E6CA}

.nav-item li:hover > a {color: #FFFDF3;}

.middlebox {color: #B5AF8D;}

.bolder {font-weight: 300;}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
